.favourites:hover{
    background-color: red;
}
.favourites{
    margin-left:6rem;
}
.button-delete{
    background-color: grey;
    border-radius: 1rem;
}
#dropdown-favorite{
    font-family: cursive;

}
.string-favorite{
    display: flex;
    justify-content: space-between;
}