.favourites:hover{
    background-color: rgba(26, 26, 26, 0.692);
}
.favourites{
    margin-left:6rem;
}
.button-delete{
    background-color: grey;
    border-radius: 1rem;
}
.favoritelist{
    background-color:none;
}
.string-favorite{
    display: flex;
    justify-content: space-between;
}