button{
    margin-top: 0.1rem;
}
.favourites{
    font-size: 2rem;
}
.informations{
    font-size: 3rem;
}
.navbar{
    position: fixed;
    top:0;
    width: 100%;
}

.myButtons{
    display: flex;
    justify-content: space-evenly;
}
.mainDiv::-webkit-scrollbar {
  display: none;
}
.mainDiv{
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: none;
}

.container{
    background-color: none;
    width: 15rem;
    margin: 2rem;
    border-radius: 1rem;
}
