button{
    margin-top: 0.1rem;
    
}
.favourites{
    font-size: 2rem;
}
.informations{
    font-size: 3rem;
}

.myButtons{
    display: flex;
}
.mainDiv{
    display: inline-flex;
    flex-wrap: nowrap;
    overflow: scroll;
    flex-direction: row;
    
    background-color: rgba(116, 116, 108, 0.363)
}
.container{
    background-color: rgb(216, 214, 214);
    width: 15rem;
    border: solid black;
    margin: 2rem;
    border-radius: 1rem;
}
h1{
    color:rgb(4, 199, 4);
    
    font-family: 'Monoton', cursive;
}
