.mycard{
    display: flex;
    border-color:black
    
}
.h-100{
    background-color: black;
}

.buttons{
        display: flex;
    justify-content: space-between;
}

.vehiclecard{
     display: flex;
    flex-direction: row;
}

.footer{
    background-color: black;
}

.navbar{
    background-color: white;
}